.nav-bawah {
  background: black ;
  height: 4rem;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.nav-menu {
  color: white;
  font-family: helvetica;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-weight:bolder;
}


.active {
  color: #00ADB5;
  font-weight:bolder;
  text-decoration: underline;
}
