/* .App {
  text-align: center;
}

.App-logo, .turntable{
  position: absolute;
}
.App-logo {
  height: 45vmin;
  pointer-events: none;
  left: 558px;
  top: 162px;
  z-index: 2;
}
.turntable{
  height: 40vmin;
  pointer-events: none;
  position:relative ;
  z-index: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #2A2438;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: helvatica;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */
